@use 'base/variables' as *;
@use 'base/mixins' as *;

/* Pretendard Variable Dynamic Subset */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css');

html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212431;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
span {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: 'Pretendard Variable';
}

/* 앱 전체 레이아웃 */
.app_wrap {
  position: relative;
  margin: 0 auto;
  padding: 76px 20px 20px;
}

.main_content {
  width: 100%;
  max-width: 1200px;
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.btns_wrapper {
  position: absolute;
  top: 84px;
  right: 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btns_inner {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.theme_toggle_btn,
.help_btn,
.noti_btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.theme_toggle_btn img,
.help_btn svg,
.noti_btn img {
  width: 36px;
  height: 36px;
}

/* 모바일 대응 */
@media screen and (max-width: 1024px) {
  .main_content {
    margin: 60px auto;
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
  }

  h2 {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .app_wrap {
    padding: 50px 20px 20px;
  }

  .btns_wrapper {
    top: 60px;
  }
  .theme_toggle_btn,
  .help_btn,
  .noti_btn {
    width: 24px;
    height: 24px;
  }

  .theme_toggle_btn img,
  .help_btn svg,
  .noti_btn img {
    width: 24px;
    height: 24px;
  }
}

.desktop_layout {
  width: 100%;
  max-width: 1200px;
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.tab_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  overflow: hidden;

  button {
    flex: 1;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 20px 20px 0 0;

    &.active {
      background: linear-gradient(90deg, #6000b4, #006192);
      color: #f8f9fb;
    }

    &:not(.active) {
      background: #bdc1cf;
      color: #f8f9fb;
      opacity: 0.8;
    }
  }
}
