@use 'base/variables' as *;
@use 'base/mixins' as *;

.groupjoin_wrapper {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 20px;
    font-weight: 900;
    color: #535765;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .groupid_wrapper {
    @include box($color-purple-50, $border-radius-lg, 20px);
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    width: 100%;
    max-width: 353px;
    margin-bottom: 60px;
  }
  input {
    width: 100%;
    height: 52px;
    border: none;
    border-radius: $border-radius-sm;
    padding: 12px;
    font-size: $font-size-base;
    background: $color-white;
    outline: none;
    text-align: center;

    &::placeholder {
      color: $color-gray-300;
    }
  }
  .form_field {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .groupidcreate_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 353px;
  }

  .groupidcreate_wrapper p {
    color: #535765;
  }
  .btn_secondary {
    @include flex-center();
    width: 100%;
    height: 52px;
    background: $color-purple-50;
    border: 1px solid $color-purple-light;
    border-radius: $border-radius-sm;
    color: $color-purple-text;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
  }
}
